.foot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a89b9d;
  font-size: $text-size;
  height: 20vh;
  padding: 2em;

  button {
    i {
      color: $header-color;
    }
  }

  button:hover i {
    color: $primary-color;
  }
}
