@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");
$font-family: 'Roboto', sans-serif;
$text-size: 1.6em;
$primary-color: #daefb3;
$secondary-color: #eef4d4;
$background-color: #16302b;
$accent-color: #ea9e8d;
$header-color: #a89b9d;
